.Tilt {
    background: lightseagreen;
    height: 100px; 
    width: 100px;
}

@media screen and (max-width: 600px){
    .Tilt {
        height: 50px;
        width: 50px;
    }
}

.logo-div {
    position: fixed;
    top: 2rem;
    left: 2rem;
    /* margin-left: 2rem;
    float: left; */
    display: inline-block;
}

#logo {
    margin-top: 3;
}
