.App {
  text-align: center;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}